/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* Source Sans Pro */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: #d6d6d6;
}

.main {
  border: 5px solid black;
  border-radius: 5px;
  background-color: #eeeeee;
  width: 80%;
  max-width: 600px;
  height: 550px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
}

.main__top-section {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.main__stats {
  font-weight: bold;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.main__acc, .main__char-count {
  margin-top: 5px;
}

.main__progress {
  width: 100%;
  margin-top: 1rem;
  height: 25px;
}

.main__main-section {
  flex: 3;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: space-around;
}

.main__text-container {
  width: 100%;
  word-break: break-word;
}

.main__text {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  word-break: break-word;
}

.main__input-container {
  height: 2rem;
  display: flex;
}

.main__input {
  flex: 8;
  outline: none;
}

.main__input-restart {
  flex: 1;
}

.main__input-restart:hover {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .main {
    height: 400px;
  }
}

@media screen and (min-width: 1100px) {
  .main {
    max-width: 1100px;
    height: 550px;
    padding: 2rem;
  }
  .main__input-container {
    height: 2.3rem;
  }
  .main__input {
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
  }
  .main__text {
    font-size: 1.35rem;
    line-height: 2.2rem;
    letter-spacing: 1.15rem;
  }
}

@media screen and (min-width: 1900px) {
  .main__input-container {
    height: 2.7rem;
  }
}
